header{
  display: flex;
  align-items: center;
  justify-content: center;
}
code{
  color: rgb(5, 73, 201);
}
.cssexemplo{
  border: .1rem solid crimson;
  width: 15rem;
  height: 5rem;
  margin: .5rem;
  padding: .5rem;
  display: flex;
  align-items: center; 
}

.cssexemplo b{
  color: crimson;
}
/* Seleciona h1 e p */
h1,
p {
  color: blue;
}

/* Seleciona a dentro de p */
p a {
  color: green;
}
.codigo {
  color: blue;
}

.design {
  color: red;
}

.underline {
  text-decoration: underline;
}
#logo {
  color: gold;
}
