* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.marpad {
  margin: 10px;
  padding: 10px;
}


.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
  padding: 20px;
}

.menu a {
  color: #000;
  background: #fff;
  margin: 20px;
  padding: 20px;
}
.btn {
  display: inline-block;
  background: #ee2211;
  color: #c6c6c6;
  border-radius: 2px;
}
.container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.container img{
  max-width: 100%;
  display: block;
  border-radius: 20px;
}
.vantagens,
.content{
  max-width: 1000px;
  background: #fff;
}
.content p{
font-size: 20px;
}
.footer{
  text-align: center;
}
.subtitulo{
  font-size: 64px;
  color: #c6c6c6;
}
