*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: aliceblue;
  background: #333;
}
body{
  width: 2000px;
}
.ativo{
  margin-top: 200px;
}
a:hover{
  color: aqua;
}
#circulo{
  width: 16px;
  height: 16px;
  background: #999;
  border-radius: 50%;
  position: absolute;
}

body{
  margin: 2rem;
}
main{
  margin: 1rem;
}
button{
  padding: 16px 8px;
  border-radius: 5px;
}