.bicicleta{
  height: 600px;
  background-color: lightblue;
  background-image: url("./bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
}
h1{
  background: aliceblue;
  margin: auto;
  padding: 1rem 2rem;
}
.pattern{
  height: 300px;
  background-color: lightcoral;
  background-image: url("./pattern.svg");
  background-repeat: repeat;
  background-size: 100px;
}
.linear{
  height: 200px;
  background-image: linear-gradient(45deg, lightblue, lightcoral);
}
.radial{
  height: 200px;
  background-image: radial-gradient(yellow, green);
}
