*{
  margin: 0;
  padding: 0;
}
section{
  margin: 2rem;
  padding: .5rem;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
}
code{
  color: rgb(5, 73, 201);
}
.cssexemplo{
  border: .1rem solid crimson;
  width: 20rem;
  height: 5rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center; 
  background: #eee;
}

.cssexemplo b{
  color: crimson;
}
/* Seleciona h1 e p */
h1,
p {
  color: #333;
}

/* Seleciona a dentro de p */
p a {
  color: green;
}
.codigo {
  color: blue;
}

.design {
  color: red;
}

.underline {
  text-decoration: underline;
}
#logo {
  color: gold;
}
a{
  color: darkcyan;
  text-decoration: none;
  font-size: 1.2rem;
}
a:visited{
  color: #666;
}
img{
  width: 600px;
}