* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f7f7f7;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.marpad {
  margin: 10px;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}



.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  padding: 20px;
}

.menu a {
  color: #000;
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
}
.menu a:hover{
  background: #ee2211;
  color: #fff;
}
.btn {
  background: #ee2211;
  color: #fff;
  border-radius: 4px;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}
.container img{
  max-width: 100%;
  display: block;
  border-radius: 20px;
}
.content{
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}
.vantagens,
.content{
  background: #fff;
  padding: 40px;
  text-align: right;
}
.content p{
font-size: 20px;
line-height: 1.3;
}
.footer{
  text-align: center;
  background: #fff;
  width: 100%;

}
.subtitulo{
  font-size: 64px;
  color: rgba(0, 0, 0, .2);
  text-align: right;
  padding: 40px;
  align-items: center;
}

.detalhe{
  width: 60px;
  height: 4px;
  background: #ee2211;
  position: absolute;
  top: 30px;
  right: -30px;
}
.vantagens-itens{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}
.vantagens-itens p{
  grid-column: 2;
  text-align: left;
}
.vantagens-itens h3{
  text-align:left;
}