
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body {
  background: #f7f7f7;
  display: grid;
  align-items: center;
  margin-top: 3.75rem;
  gap: 3.75rem;
  padding: 0 20px; 
}

main {
  display: grid;
  align-items: center;
  justify-content: center;
}

.header {
  display: grid;
  gap: 3.75rem;
  justify-items: center;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;  
}

.menu a {
  display: block;
  color: #000;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: .25rem;
  border: .1rem solid transparent;
  transition: .3s;
}

.menu a:hover {
  border-color: #ee2211;
}

.btn {
  background: #ee2211;
  color: #fff;
  border-radius: .25rem;
  padding: 1rem 2rem;
  display: inline-block;
  text-align: center;
}

.btn:hover {
  background: #900;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto; 
}

.container .image img {
  max-width: 100%;
  display: block;
  border-radius: .25rem;
}

.content {
  position: relative;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  justify-items: end;
  padding: 2.5rem;
  background: #fff;
}

.content h1 {
  font-size: 2rem;
}

.content::before {
  content: "";
  width: 3.75rem;
  height: .25rem;
  background: #ee2211;
  position: absolute;
  top: 1.87rem;
  right: -1.87rem;
}

.container .image img {
  object-fit: cover;
  height: 100%;
}

.content p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.footer {
  text-align: center;
  background: #fff;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.subtitulo {
  font-size: 4rem;
  color: rgba(0, 0, 0, .2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background: url(./img/onda.svg);
}

.content-item {
  background: #fff;
  padding: 40px;
}

.content-itens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .625rem 1.25rem;
  padding: 1.25rem;
}

.content-itens:nth-child(odd) {
  background: #f7f7f7;
}

.content-itens p {
  grid-column: 2;
  text-align: left;
}

.content-itens h3 {
  text-align: left;
}

.content-itens:hover {
  border-left: .25rem solid #ee2211;
}

@media(max-width:1000px){
  .container-vantagem{
    grid-template-columns: 1fr;
  }
  .subtitulo{
    text-align: center;
  }
  
}
@media(max-width:600px){
  body{
    gap: 30px;
    margin-top: 20px;
  }
  .header{
    gap: 30px;
  }
  .container{
    grid-template-columns: 1fr;
  }
  .content{
    text-align: left;
    justify-items: start;
  }
  .content::before{
    display: none;
  }
  .subtitulo{
    font-size: 3rem;
  }
}
@media(max-width:400px){
    .subtitulo{
    font-size: 2rem;
  }
  p{
    font-size: 1rem;
  }
}